.project-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.project-img {
  max-width: 1050px;
  width: 100%;
}

.images {
  max-width: 1050px;
  position: absolute;
  right: 2em;
}

.secondary-img {
  width:100%;
}

.subtitle {
  margin-top: 0;
  margin-bottom: .5em;
}

.caption {
  float: left;
}

.project-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.metadata {
  text-align: left;
  font-weight: 700;
}

h2 {
  margin: 0;
  margin-top: .5em;
}

.metadata p {
  margin: 0;
}

.project-text {
  max-width: 350px;
}

.project-body {
  max-width: 350px;
}

.project-title {
  flex-direction: column;
}

.bordered {
  border-style: solid;
  border-width: .25px;
  border-color: #939393;
}

.bottom {
  margin-bottom: 3em;
}

@media screen and (max-width: 1480px) {
  .project-img {
    max-width: 700px;
  }
  .images {
    max-width: 700px;
  }
}

@media screen and (max-width: 1130px) {
  .project-intro {
    flex-direction: column-reverse;
  }
  .project-img {
    max-width: 100%;
  }
  .images {
    max-width: 100%;
    left: 2em;
  }
  .project-text {
    max-width: 100%;
    width: 100%;
  }
  .project-title {
    flex-direction: row;
    width: 100%;
  }
  .metadata {
    text-align: right;
  }
  h2 {
    margin: 0;
  }
}

@media screen and (max-width: 780px) {
  #header {
    flex-direction: column;
    margin-bottom: .5em;
  }
  #social_links {
    margin-top: .5em;
    text-align: left;
  }
  
  .project-title {
    flex-direction: column;
  }
  .metadata {
    text-align: left;
  }
}