body {
  font-family: 'Halant', serif;
  font-weight: 300;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.header {
  color: black;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: 'Amatic SC';
  font-weight: 400;
}

.sec {
  width: 100%;
  padding-top: 200px;
  margin: 0px;
  z-index: 9;
  text-align: center;
}

#header {
  position: absolute;
  top: 35vh;
  background-color: white;
  padding-bottom: 10px;
  opacity: 0.95;
  z-index: 100;
  width: 100%;
}

#header.stick {
  position: fixed;
  top: 0;
}

#headerContent {
  margin: 0 auto;
  position: relative;
  max-width: 200px;
}

#blue {
  display: inline;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("./images/intro_water.gif");
  opacity: 0;
  padding: 0;
  border: 3px solid white;
}

#jo {
  display: inline;
  margin-left: 25px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(rgba(255,0,0,0) 100%, rgba(255,0,0,1));
  border: 3px solid white;
}

#AboutLink:hover {
  color: red;
  text-decoration: none;
}

#EducationLink:hover {
  color: purple;
  text-decoration: none;
}

#SkillsLink:hover {
  color: orange;
  text-decoration: none;
}

#ProjectsLink:hover {
  color: green;
  text-decoration: none;
}

#nextButton {
  display: block;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 25px;
  opacity: 0;
  animation-play-state: paused;
  animation-name: appearHalf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 100;
}

#navigation {
  display: none;
}

#body {
  opacity: 0;
  position: fixed;
}

#buttons {
  display: inline;
}

.button {
  width: 25px;
  margin-right: 3px;
  vertical-align: middle;
}

.button:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.name {
  font-family: 'Amatic SC';
  font-weight: 400;
  font-size: 90px;
}

.navlink {
  color: black;
  text-decoration: none;
  display: block;
  opacity: 0;
}

.about_img1 {
  display:block;
  width: 75px;
  padding: 5px;
  margin: 0 auto;
}

.about_img2 {
  display:none;
  width: 75px;
  padding: 5px;
}

.school_img {
  height: 55px;
  padding: 5px;
}

.school_name {
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Amatic SC';
  font-weight: 400;
}

.school_header p {
  margin: 0;
  color: gray;
  text-align: center;
  padding: 0;
}

.project {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1px #888888;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

.project img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.projectHeading {
  font-family: 'Amatic SC';
  font-weight: 400;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.projectContent {
  padding: 15px;
  margin: 0;
}

.projectBody a {
  text-decoration: none;
  color: rgb(79, 194, 248);
}

.skill {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 8px;
  display: inline-block;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 2px;
  margin-top: 10px;
}

.language {
  color: rgb(0, 173, 255);
  border-color: rgb(79, 194, 248);
}

.other {
  color: rgb(0, 226, 169);
  border-color: rgb(0, 226, 169);
}

#footer {
  height: 50px;
  width: 100%;
  opacity: .50;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

#footer p {
  font-family: 'Amatic SC';
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-align:center;
  vertical-align: middle;
  line-height: 50px;
}

@media (min-width: 500px) {
  .name {
    font-size: 130px;
  }
  #jo {
    margin-left: 35px;
  }
  #headerContent {
    max-width: 390px;
  }
  .header {
    font-size: 75px;
  }
  body {
    font-size: 16px;
  }
  .button {
    width: 30px;
    margin-right: 5px;
  }
  #nextButton {
    display: none;
  }
  #navigation {
    display: inline-block;
    margin-left: 40px;
  }
  .about_img1 {
    display: none;
  }
  .about_img2 {
    display: inline;
    vertical-align: middle;
  }
  .school_img {
    height: 65px;
    padding: 5px;
    vertical-align: text-bottom;
  }
  .school_name {
    font-size: 30px;
    text-align: left;
  }
  .school_header {
    display: inline-block;
    margin-top: 30px;
  }
  .school_header p {
    text-align: left;
  }
  .projectHeading {
    font-size: 30px;
  }
  .skill {
    font-size: 10px;
    margin-top: 0;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@keyframes appearHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
