body {
  font-family: 'Halant', serif;
  font-size: 16px;
}

.header {
  color: black;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis';
  font-weight: 300;
}

.sec {
  width: 100%;
  padding-top: 200px;
  margin: 0px;
  z-index: 9;
}

.content {
  font-size: 16px;
}

#header {
  background-image: linear-gradient(rgba(255,255,255,1) 60%, rgba(255,255,255,0));
  padding-bottom: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

#blue {
  display: inline;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("./images/intro_water.gif");
  animation-name: appear;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#jo {
  display: inline;
  margin-left: 40px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(rgba(255,0,0,0) 100%, rgba(255,0,0,1));
}

#site {
  opacity: 0;
  position: fixed;
  animation-name: appear;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#nextButton {
  display: block;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 25px;
  opacity: 0;
  animation-name: appearHalf;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 100;
}

#navigation {
  display: none;
}

#text {
  opacity: 0;
  animation-name: appear;
  animation-delay: 0;
  animation-duration: 1s;
  animation-play-state: paused;
}

.name {
  font-family: 'Halant';
  font-weight: 300;
  font-size: 90px;
}


@media (min-width: 480px) {
  .name {
    font-size: 110px;
  }
  .header {
    font-size: 60px;
  }

  #nextButton {
    display: none;
  }
  #navigation {
    display: inline-block;
    margin-left: 40px;
  }
}

@media (min-width: 770px) {
  .name {
    font-size: 125px;
  }
  .header {
    font-size: 75px;
  }
}

.navlink {
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

#AboutLink {
  opacity: 0;
  animation-name: appear;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#CourseworkLink {
  opacity: 0;
  animation-name: appear;
  animation-delay: 2.3s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#SkillsLink {
  opacity: 0;
  animation-name: appear;
  animation-delay: 2.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#ExperienceLink {
  opacity: 0;
  animation-name: appear;
  animation-delay: 2.6s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#AboutLink:hover {
  color: red;
  text-decoration: none;
}

#CourseworkLink:hover {
  color: purple;
  text-decoration: none;
}

#SkillsLink:hover {
  color: orange;
  text-decoration: none;
}

#ExperienceLink:hover {
  color: green;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
